@import "../../../styles/abstracts/mixins";

.image {
  display: flex;
  flex-direction: column;
  gap: toRem(16);
  height: toRem(378);

  @include respond(md) {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-out;

    &:hover &__image {
      box-shadow: var(--shadow-xl);
      transform: translate(0, -0.5rem);
      cursor: pointer;
    }

    &--modal {
      height: 100%;

      &:hover .image__image {
        box-shadow: unset;
        transform: unset;
      }
    }
  }

  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: toRem(20);
  }

  &__figcaption {
    display: flex;
    justify-content: center;
    @include text-style(text-base);
    color: var(--gray-500);
  }
}
