@import "../../../styles/abstracts/mixins";

.home {
  margin-top: toRem(64);
  width: 100%;
  height: 100vh;

  @include respond(md) {
    margin-top: 0;
    background: url("../../../images/hero-desktop-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__container {
    display: flex;

    @include respond(md) {
      padding: 0 toRem(32);
      max-width: toRem(1280);
      margin: 0 auto;
      // background: url("../../../images/hero-desktop-bg.svg");
      // background-size: cover;
      // background-repeat: no-repeat;
    }
  }
}
