@import "../../../styles/abstracts/mixins";

.heading-4xl {
  color: var(--gray-800);
  @include text-style(text-4xl);
  font-weight: 800;
  margin-bottom: toRem(8);

  &--no-margin {
    margin: 0;
  }
}

.heading-lg {
  color: var(--gray-700);
  @include text-style(text-lg);
  font-weight: 700;
}

.paragraph {
  color: var(--gray-500);
  @include text-style(text-base);
  font-weight: 400;

  &--on-dark {
    color: var(--gray-50);
  }
}

.link {
  @include text-style(text-base);
  color: var(--red-500);
  font-weight: 400;

  &--bold {
    font-weight: 700;
  }

  &--dark {
    color: var(--gray-700);
  }
}
