@import "../../../styles/abstracts/mixins";

.scene-controls {
  width: 100%;

  @include respond(lg) {
    margin-top: toRem(64);
    max-width: toRem(384);
  }

  &__tabs {
    display: flex;
    gap: toRem(4);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: toRem(24);
    padding: toRem(32) toRem(20);
    height: 100%;
    border: toRem(2) solid var(--gray-200);
    background-color: var(--gray-100);

    @include respond(lg) {
      height: auto;
      background-color: var(--white);
      box-shadow: var(--shadow-xs);
      border-radius: 0 toRem(20) toRem(20) toRem(20);
    }
  }

  &__control-group {
    display: flex;
    flex-direction: column;
    gap: toRem(8);
  }

  &__control-group-span {
    @include text-style(text-base);
    color: var(--gray-800);
    font-weight: 600;
  }

  &__flavor-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: toRem(20);
  }

  &__paragraph {
    color: var(--gray-500);
  }
}
