@import "../../../../styles/abstracts/mixins";

.menu-button {
  background: none;
	border: none;
  pointer-events: auto;
  
  svg {
    stroke: var(--gray-600);
    width: toRem(24);
    height: toRem(24);
  }
}
