@import "../../../styles/abstracts/mixins";

.select {
  display: flex;
  flex-direction: column;
  gap: toRem(4);
  @include text-style(text-base);
  color: var(--gray-500);

  &__container {
    position: relative;
    width: 100%;

    svg {
      position: absolute;
      top: toRem(12);
      right: toRem(8);
      stroke: var(--gray-500);
      height: toRem(16);
      width: toRem(16);
      user-select: none;
    }
  }

  &__select {
    appearance: none;
    width: 100%;
    padding: toRem(12) toRem(16);
    color: inherit;
    background-color: var(--white);
    border: toRem(1) solid var(--gray-200);
    border-radius: toRem(8);
  }
}
