*, 
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 16px;
    box-sizing: border-box;
}

body {
    background-color: var(--gray-50);
}

textarea:focus, input:focus{
    outline: none;
}

button {
    cursor: pointer;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

button:active, a:active {
    transition-duration: 0.2s;
    transform: scale(0.8);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
